@font-face {
	font-family: 'icomoon';
	src:url('font/icomoon.eot');
	src:url('font/icomoon.eot') format('embedded-opentype'),
		url('font/icomoon.woff') format('woff'),
		url('font/icomoon.ttf') format('truetype'),
		url('font/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: .5em;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-spinner:before {
	content: "\e601";
}
.icon-spinner2:before {
	content: "\e602";
}
.icon-search:before {
	content: "\e604";
}
.icon-cog:before {
	content: "\e603";
}
.icon-info:before {
	content: "\e605";
}
