# MANIFEST HEADER
AddType text/cache-manifest .appcache

# ALWAYS REVALIDATE APPCACHE
<filesMatch "\.(appcache)$">
<ifModule mod_headers.c>
Header set Cache-Control "max-age=0, must-revalidate"
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</ifModule>
</filesMatch>

# CACHE FONTS
<filesMatch "\(icomoon).">
<ifModule mod_expires.c>
ExpiresDefault "access plus 1 week"
</ifModule>
</filesMatch>

# GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>